$lato: Lato, sans-serif;
$anton: Anton, sans-serif;
$lightgrey: #6d6d6d;


.card{
  box-shadow: 10px 10px 30px  grey;
  transition: 0.2s ease;
  &:hover{
    box-shadow: 20px 20px 30px  grey;
    transition: 0.2s ease;
  }
}
.titre {
  font-family: $anton;
  color: black;
  text-align: center;
}

.textMini {
  font-family: $lato;
  color: $lightgrey;
  text-align: center;
}

.text {
  font-family: $lato;
}